* {
  box-sizing: border-box;
}

html {
   background-color: black;
}

h1 {
   font-family: 'Codystar', cursive;
   color: white;
   font-size: 50px;
   text-align: center;
   padding-bottom: 30px;
   padding-top: 25px;
}

h2 {
   font-family: 'Codystar', cursive;
   color: #2E86C1;
   font-size: 30px;
}

h3 {
   font-family: 'Codystar', cursive;
}

p {
   font-family: 'Manrope', sans-serif;
   color: #2E86C1;
   font-size: 16px;
}

li {
   font-family: 'Manrope', sans-serif;
   color: #2E86C1;
   font-size: 16px;
   margin-left: 450px;
}

#column {
   float: left;
   width: 33.33%;
   padding: 10px;
   height: 350px;
   background-color: black;
   color: white;
   border-style: dotted;
   border-color: white;
   text-align: center;
}

.row:after {
   content: "";
   display: table;
   clear: both;
}

#opener1 {
   margin-left: 300px;
}

#opener2 {
   margin-left: 300px;
}

#opener3 {
   margin-left: 300px;
}

.ui-menu {
   width: 150px;
}

#menu {
   background-color: black;
   float: left;
   border-style: dotted;
   border-color: white;
   border-width: medium;
}

.button {
   background-color: yellow;
   border: black;
   border-style: dotted;
   color: white;
   padding: 7px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   transition-duration: 0.4s;
   cursor: pointer;
   margin-left: 700px;
   font-family: 'Manrope', sans-serif;
   font-size: 16px;
}
